* { margin: 0; padding: 0; }
 
@font-face {
  font-family: Italiana;
  src: url('./fonts/Italiana-Regular.ttf');
}
 
@font-face {
  font-family: Yellowtail;
  src: url('./fonts/Yellowtail-Regular.ttf');
}
 
body {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #91D6D3;
}
 
.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  background: #91D6D3;
}
 
 
#menu {
  background-color: transparent;
  margin-top: 20px;
  overflow: hidden;
  text-decoration: none;
}
 
#menu ul {
  max-width: 100%;
  list-style: none;
  overflow: hidden;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  text-decoration: none;
}
 
#menu ul li {
  display: inline;
  text-decoration: none;
}
 
#menu ul li a {
  padding: 20px;
  color: #020d4b;
  font-size: 35px;
  margin: 0px;
  padding: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: inline-block;
  text-decoration: none;
  justify-content: center;
  border-radius: 25px;
  transition: linear .3s;
}
 
#menu ul li a:hover {
  color: #FFF4CF;
  background-color:#020d4b;
  border-radius: 25px;
}
 
 
.active {
  background-color: whitesmoke;
}
 
h1 {
  font-family: Italiana;
  font-size: 100px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #020d4b;
  text-decoration: underline;
}
 
h2 {
  font-family: Italiana;
  font-size: 70px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #020d4b;
}
 
img {
  width: 30%;
  height: 100%;
  object-fit:cover;
  
  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
  
  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}

.ofertas {
  margin-top: 60px;
  margin-left: 150px;
  display:flex;
  justify-content:center;
  align-items:center;
  width: 1000px;  
}
.ofertas:hover img {
  opacity:0.3;
}
.ofertas img:hover {
  transform:perspective(800px)       rotateY(0deg);
  opacity:1;
}

.contato {
  background-color: #fffdf5;
  color: #020d4b;
  font-family: Italiana;
  font-weight: 600;
  font-size: 35px;
  width: auto;
  padding: 35px;
  margin-top: 250px;
}