@font-face {
  font-family: Yellowtail;
  src: url('./fonts/Yellowtail-Regular.ttf');
}

.top-container {
  background-color: #0B4619;
  height: 100%;
  text-align: center;
  font-size: 100px;
  font-family: Yellowtail;
  color: #E8E8CC;
  animation:tracking-in-expand 1s linear both
}

.header {
  padding: 0px;
  background: #555;
  color: #f1f1f1;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}


@keyframes tracking-in-expand{
  0%{letter-spacing:-.2em;opacity:0}
  40%{opacity:.6}100%
  {opacity:1}}